
.cloud_1 {
    position: absolute;
    top:5%;
}

.cloud_2 {
    position: absolute;
    top:20%;
    left:30%;
}

.cloud_3 {
    position: absolute;
    top:5%;
    left: 50%;
}

.cloud_4{
    position: absolute;
    top: 50%;
    left: 50%;
}

.cloud_5 {
    position: absolute;
    left: 70%;
    top: 35%;
}

.cloud_2_1 {
    top: 40%;
    left: 30%;
    position: absolute;
opacity: 0.5;
}

.cloud_2_2 {
    position: absolute;
    top: 60%;
}

.cloud_2_3 {
    position: absolute;
    top: 45%;
    left: 70%;
}

.cloud_2_4 {
    position: absolute;
    top: 30%;
    left: 70%;
}


/* no pointer */
/*
[class*=cloud]{
    pointer-events: none;
}*/

/* speed */

.move_anim_speed_m {
    animation-duration: 100s;
}

.move_anim_speed_test {
    animation-duration: 10s;
}

.move_anim_speed_s{
    animation-duration: 200s;
}

.move_anim_speed_sm{
    animation-duration: 150s;
}


/* start */

.move_anim_start_70 {
    animation-name: move_start_70;
}

.move_anim_start_50 {
    animation-name: move_start_50;
}

.move_anim_start_30 {
    animation-name: move_start_30;
}

.move_anim_start_0{
    animation-name: move_start_0;
}


.move_anim{
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.anim_ease_in {
    animation-timing-function: ease-in;
}

@keyframes move_start_70 {
    0% { left:70%;}
    30% { left:100%; }
    31% { opacity: 0;}
    31.5% {left:-20%; opacity: 0;}
    32% {opacity: 1}
    100% {left:70%}
}

@keyframes move_start_50 {
    0% {left:50%;}
    50% {left:100%;}
    51% {left:-20%; opacity: 0;}
    52% {opacity: 1}
    100% {left:50%}
}

@keyframes move_start_30 {
    0% { left:30%;}
    70% { left:100%; }
    71% {left: 100%; opacity: 0; }
    71.5% {left:-20%; opacity: 0;}
    72% {opacity: 1;}
    100% {left:30%}
}


@keyframes move_start_0 {
    from {left:0%; }
    90% {left:100%; }
    91% { left: 100%; opacity: 0;}
    92% {left: -20%; opacity: 0;}
    93% {left: -20%; opacity: 1;}
    to {left: 0;}
}